.login_box {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  padding: 50px;
  background-color: aliceblue;
}

.login_button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav-wrapper {
  padding-left: 30px;
}